.user-input {
  width: 70%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
}

.lg-change {
  position: absolute;
  margin-left: 70%;
  float: inline-end;
  display: flex;
  align-items: center;
  color: #e8eddf;
}

.user-input h1 {
  font-size: 9em;
  color: #e8eddf;

  font-weight: 300;
}

.input-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}

.input-form input {
  font-size: 1.6em;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #e8eddf;
  background-color: #242423;
  color: #e8eddf;
  outline: none;
  transition: 200ms ease-in-out;
  font-family: "Montserrat", sans-serif;
}

.input-form input:hover {
  border-bottom: 1px solid #f5cb5c;
}

.amount-input {
  width: 8%;
}

.amount-input input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-form button {
  padding: 12px;
  font-size: 1.3em;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: 300ms;
  background-color: #e8eddf;
  font-family: "Montserrat", sans-serif;
  width: 120px;
}

.input-form button:hover {
  transform: scale(1.03);
  background-color: #f5cb5c;
  color: #242423;
}
