.guide {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  color: #f5cb5c;
  font-weight: 300;
}

.meal-container {
  display: flex;
  justify-content: space-evenly;
}

.meals {
  display: block;
}
